<h1> About Us </h1>
<p>Reddit bridges communities and individuals with ideas, the latest digital trends, and breaking news (...okay, and maybe cats). Our mission is to help people discover places where they can be their true selves, and empower our community to flourish.
</p>
<hr>
<div class="row">
  <div class="col-md-4">
  <h1>Share</h1>
  <p>
    Anyone can create a community on nearly any topic imaginable. Each community is independently moderated by volunteer users. Community members can share content including stories, links, and images.
  </p>
  </div>
  <div class="col-md-4">
    <h1>Vote</h1>
    <p>
      The global Reddit community votes on which stories and discussions are important by casting upvotes or downvotes. The most interesting, funniest, impactful, or simply amazing stories rise to the top.
    </p>
  </div>
  <div class="col-md-4">
    <h1>Discuss</h1>
    <p>
      Redditors can comment on any post on Reddit. Comments are often the best part about Reddit content—they provide additional information, vigorous discussion, context, and often humor.
    </p>
  </div>
</div>
<hr>
<h1> Rules </h1>
<p>
  At Reddit, we have a few simple values that help us stay true to our mission.
</p>
<ul>
  <h1>Remember the human</h1>
  <li>Our actions affect real people and communities, so do the right thing—even when it’s difficult.</li>
  <h1>Evolve</h1>
  <li>Move forward and grow together. Be optimistic about our future. Know that change is necessary for us to progress.</li>
  <h1>What would Snoo do?</h1>
  <li>Snoo isn’t bad. Snoo likes to enjoy a good time. Snoo is humble. Snoo is kind. Snoo has high integrity. Snoo delivers</li>
</ul>
