<div class="header">
  <img id="logo" src="/assets/images/logo.png" alt="logo" />
</div>
<div class="bs-example">
    <ul class="breadcrumb">
        <li><a routerLink="" >Home</a></li>
          <li><a routerLink="about" >About</a></li>
        <li> <a routerLink="new-post" >New Post</a></li>
          <li><a routerLink="sports" >Sports</a></li>
          <li><a routerLink="news" >News</a></li>
          <li><a routerLink="gaming" >Gaming</a></li>
        <li><a routerLink="movies">Movies</a></li>
    </ul>
</div>
<div class="container">
  <h1></h1>
  <router-outlet></router-outlet>
</div>
