.header{
  margin: 0;
  padding: 0;
  /*background-color: red;*/
}
/*
hr {
height: 1px;
color: #123455;
background-color: #123455;
border: none;
}*/

#logo{
  width: 185px;
}

.about{
  font-size: 23px;
  text-decoration: none;
  top: 0;
  margin-left: 20px;
  padding-bottom: 0;
}

.home{
  font-size: 23px;
  text-decoration: none;
}

.nav-tabs {
  font-weight: 400;
  font-size: 18px;
}
